
<div class="card border-primary mb-3">
  <div class="card-header">
    PLaying game Rock Paper Scissors 
  </div>

  <div class="card-body">
    <dl>
      <dt>
        Text
      </dt>
      <dd class="text">
        <p>Vijay Plays scissors </p>
      </dd>

      

      <dt>
        Computer plays 
      </dt>
      <dd class="character_count_with_spaces">
        <%= @comp_move  %>
      </dd>

      <dt>
        Result is 
      </dt>
      <dd class="character_count_without_spaces">
        <%= @won%>
      </dd>

      
    </dl>
  </div>  <!-- card-body -->
</div>  <!-- card -->